
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer Localizer
@inject Microsoft.Extensions.Options.IOptions<Microsoft.AspNetCore.Builder.RequestLocalizationOptions> LocalizationOptions
    @{
       var Culture=Context.Features.Get<Microsoft.AspNetCore.Localization.IRequestCultureFeature>();
       var CultureList=LocalizationOptions.Value.SupportedCultures.Select(x=>new SelectListItem{Value=x.Name,Text=x.Name}).ToList();
       
       var returnurl=string.IsNullOrWhiteSpace(Context.Request.Path)? "~/" :$"{Context.Request.Path.Value}{Context.Request.QueryString}";  

    }

    <div>
        <form asp-action="CultureMangement" asp-controller="Home" asp-route-returnurl="@returnurl" method="POST">
            @* <select  name="Culture" asp-for="@Culture.RequestCulture.UICulture.Name" asp-items="CultureList"
            onchange="this.form.submit();"></select> *@

             <div class="Langselect mx-0 mt-1">
                <div class="myselect">
                    <div class="selectedlan">
                        <span>
                            <img class="langselect" width="28px" title="English" src="/imgs/en.png" /> 
                            <select class="culSelect" name="Culture" asp-for="@Culture.RequestCulture.UICulture.Name" asp-items="CultureList"
                                onchange="this.form.submit();"></select>  
                        </span>
                    </div>
                    @* <div class="langHover" >
                        <span class="myselect-option" title="Change Language">
                            <img class="langopt" width="20px" src="/imgs/ar.png" />  
                        </span>
                    </div> *@
                </div>
            </div>
        </form>
    </div>
