<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Pos</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-dark bg-dark">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".menuIcon , .navbar-collapse , .contentPush" aria-expanded="true" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon menuIcon"></span>
                    <span class="navbar-toggler-icon menuIcon"></span>
                    <span class="navbar-toggler-icon menuIcon"></span>
            </button>
            <div class="btn-group">
                <select class="custom-select mr-5">
                    <option>Select Language</option>
                    <option selected value="1"><img src="../../wwwroot/imgs/en.jpg" /> En</option>
                    <option value="2"><img src="../../wwwroot/imgs/ar.png" /> Ar</option>
                </select>
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Pos</a>
            </div>
            <div class="navbar-collapse collapse sidenav">
                <ul class="navbar-nav navbar-nav-scroll mr-auto my-2 my-lg-0 "style="max-height: 100px;" >
                    <li class="nav-item active">
                        <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <div class="contentPush">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - Pos - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
