@inject SignInManager<ApplicationUsers> SignInManager;
    @{
        ViewData["Title"]="Berry";
    }
<!DOCTYPE html>
<html dir="ltr" unicode-bidi:bidi-override; lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Pos</title>
    <link rel="stylesheet" href="~/lib/fontawesome//css/all.min.css" />    
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/sweetalert.min.css" />
    <link rel="stylesheet" href="~/css/datatable.min.css" />

</head>
<body>
    <header>
        <nav class="navbar navbar-dark bg-dark">
            <div class="brandIcon btn-group">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".menuIcon , .navbar-collapse , .contentPush" aria-expanded="true" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon menuIcon"></span>
                        <span class="navbar-toggler-icon menuIcon"></span>
                        <span class="navbar-toggler-icon menuIcon"></span>
                </button>
                <a class="navbar-brand px-2" asp-area="" asp-controller="Home" asp-action="Index">Pos</a>
            </div>
            <div class="btn-group">
                <div class="Notification mx-0 pt-2">
                    <div class="bell d-inline p-0">
                        <i class="fa fa-bell p-1"></i>
                    </div>
                    <div class="msg d-inline">
                        <i class="fa fa-envelope p-1"></i>
                    </div>
                </div>                
                @* Language Icon *@
                <div class="Langselect mx-0 mt-1">
                    <div class="myselect">
                        <div class="selectedlan">
                            <span><img class="langselect" width="28px" title="English" src="/imgs/en.png" /> </span>
                        </div>
                        <div class="langHover">
                            <span class="myselect-option" title="Change Language"><img class="langopt" width="20px" src="/imgs/ar.png" /> <span class="langName"> Ar </span></span>
                        </div>
                    </div>
                </div>
                @* Login Icon *@
                <div class="dropdown loginIcon mx-3 px-2 py-1">
                @if (SignInManager.IsSignedIn(User))
                    {
                        <img class="rounded" width="25px" src="/imgs/user.png">
                        <form class="d-inline-flex" method="POST" asp-action="LogOut" asp-controller="Account">
                            <button type="submit"  class="nav-link btn py-0 px-2 dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" >
                                    @User.Identity.Name
                            </button> 
                            <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                                <button type="submit" class="dropdown-item" type="button" >Logout</button>
                                <button class="dropdown-item" type="button">Account</button>
                            </div>
                        </form>
                    }
                else{
                    <a asp-action="Login" asp-controller="Account" class="nav-link p-0">Login</a>
                }
                </div>

               
            </div>
           
            @* SideNavbar Menu *@
            <div class="navbar-collapse collapse sidenav">
                <ul class="navbar-nav navbar-nav-scroll mr-auto my-2 my-lg-0 px-1" >
                    <li class="theme mb-3">
                        <p class="text-light d-inline mx-3">Themes </p>
                        <span class="blue active"></span>
                        <span class="red"></span>
                        <span class="yellow"></span>
                    </li>
                    <li class="nav-item px-3 mb-1 active">
                        <a class="nav-link p-2" asp-area="" asp-controller="Home" asp-action="Index">
                            <i class="fa fa-home" ></i> Home <span class="sr-only">(current)</span>
                        </a>
                    </li>
                     @if (SignInManager.IsSignedIn(User) && User.IsInRole("Admin"))
                    {
                    <div class="accordion">
                        <li class="nav-item px-3 mb-1">
                            <a class="nav-link p-2" asp-area="" asp-controller="" asp-action="" data-toggle="collapse" id="#adimnAccordId" data-target="#adimnAccord" aria-controls="adimnAccord">
                                <i class="fa fa-user-circle" ></i> Administration <i class="fa fa-angle-down" ></i>
                            </a>
                        </li>
                        <div id="adimnAccord" class="collapse in" role="tabpanel">
                            <li class="nav-item px-3 mb-1">
                                <a class="nav-link p-2" asp-area="" asp-controller="Adminstrator" asp-action="GetAllRoles">
                                    <i class="fa fa-home" ></i> Roles
                                </a>
                            </li>
                            <li class="nav-item px-3 mb-1">
                                <a class="nav-link p-2" asp-area="" asp-controller="Adminstrator" asp-action="GetAllUsers">
                                    <i class="fa fa-home" ></i> Users
                                </a>
                            </li>
                        </div>
                    </div>
                    }
                    <li class="nav-item px-3 mb-1">
                        <a class="nav-link p-2" asp-area="" asp-controller="Home" asp-action="Index">
                            <i class="fa fa-box" ></i> About 
                        </a>
                    </li>
                    @* @if (SignInManager.IsSignedIn(User) && User.IsInRole("Admin"))
                    {
                        
                    
                    <li class="nav-item mb-1 px-3">
                        <a class="nav-link p-2" asp-area="" asp-controller="Adminstrator" asp-action="GetAllRoles">
                            <i class="fa fa-align-center" ></i> Roles
                        </a>
                    </li>
                    <li class="nav-item mb-1 px-3">
                        <a class="nav-link p-2" asp-area="" asp-controller="Home" asp-action="Privacy">
                            <i class="fa fa-key" ></i> Users
                        </a>
                    </li>
                    } *@
                </ul>
            </div>
        </nav>
    </header>
    <div class="contentPush">
        <main role="main" class="pb-3 container">
            <br>
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
           
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/sweetalert.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
     <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/js/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/js/datatable.min.js"></script>
    <script src="~/js/datatable.bootstrap.min.js"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
