@model Pos.ViewModels.CreateRoleMv
@{

    ViewData["Tittle"]="Create Role";
}
<h1>Create Roles</h1>
<div class=row>
<form method="POST">
    <span asp-validation-for="Name" class="text-danger"></span>
    <div class="form-group">
        <label asp-for="Name" class="control-label"></label>
        <input type="text" asp-for="Name" class="form-control">
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="form-group">
        <input type="submit" value="Save" class="btn btn-primary">
         <a asp-action="" asp-controller=""  asp- class="col-12 mb-0 mt-3 p-0 text-dark font-weight-bold " style="text-decoration: none;">
               <img width="15px" src="../imgs/right-arrow.png" /> Cancel
          </a>
    </div>
</form>
</div>