@model IEnumerable<IdentityRole>
@{
ViewData["tittle"]="Get All Roles";
}

<a asp-action="CreateRole" asp-controller="Adminstrator" class="btn btn-primary">Add New Role</a>
<br>
@foreach (var item in Model)
{
    <br>
<div class="card ">
  <div class="card-header">
      RoleId : @item.Id
  </div>
  <div class="card-body">
    <h5 class="card-text">@item.Name </h5>
   </div>
  <div class="card-footer text-muted">
    <a class="btn btn-primary" asp-action="EditRole" asp-controller="Adminstrator" asp-route-id="@item.Id">Edit</a>
   <input type="button" value="delete" data-id="@item.Id"  class="btn btn-danger deleterole">
  </div>
</div>
}
@section scripts{
<script>

$('.deleterole').click(function(){
  debugger;
var dataId = $(this).attr("data-id");
swal({
  title: "Are you sure? dataId",
  text: "You will not be able to recover this imaginary file!",
  type: "warning",
  showCancelButton: true,
  confirmButtonClass: "btn-danger",
  confirmButtonText: "Yes, delete it!",
  cancelButtonText: "No, cancel plx!",
  closeOnConfirm: false,
  closeOnCancel: false
},
function(isConfirm) {
  debugger;
  if (isConfirm) {
    $.ajax({
      url:"/Adminstrator/DeleteRole",
      data:{RoleId:dataId},
      success:function(result){

         swal({
            title:"Deleted!", 
            text:"Your imaginary file has been deleted.", 
            type:"success"
             },
        function(isConfirm){
        if(isConfirm){
          location.reload();
        }
    });
    

    }

    });
   
  } else {
    swal("Cancelled", "Your imaginary file is safe :)", "error");
  }
});
});



</script>

}