@{
    ViewData["Title"] = "Berry Pos";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
     <p>Point Of Sale System From  <a href="https://docs.microsoft.com/aspnet/core"> Berry Software Company</a>.</p>
</div>
