@{
    ViewData["Title"]="Categories";
}

<h2>Categories</h2>

<button id="CreateCategory_btn" class=" btn btn-primary mt-2">Create new Category</button>
<br />
<br />
<table style="width:100%" class="table table-striped table-bordered" style="width:100%" id="CategoriesTable">
    <thead>
        <tr>
            
            <th>Category Name</th>
            <th>Description</th>

            <th></th>
        </tr>
    </thead>
    <tbody></tbody>
</table>



<div class="modal fade" tabindex="-1" role="dialog" id="ItemsModal">
    <div class="modal-dialog" role="document" id="modalcontent">

    </div>
</div>





@section Scripts{
     <script src="~/js/CustomDeleteSwalServerSide.js"></script>
     <script src="~/js/ServerSideDataTable.js"></script>
<script>
   $(document).ready(function(){
       let dataTableColumns = [{ data: "name" },{data :"description"},

            {
                data: "id", orderable: false, render: function (result, x, y) {


                    return `<button class="btn default btn-editable edit-Item btn-primary" data-id="${result}"> <i class="fa fa-pencil"> </i> Edit </button>
                            <button class="btn red btn delete-Item btn-danger" data-id="${result}"> <i class="glyphicon glyphicon-remove"> </i> Delete </button>`;

                }
            }];

            globaltable = tablePlugin("#CategoriesTable", "/Categories/GetListOfCategories", dataTableColumns,localizedData);
         });
       
       $('#CategoriesTable').on("click",'.delete-Item',function(){
           var dataId = $(this).attr("data-id");
         CustomDelete("/Categories/Delete",dataId);
       });

       $('#CategoriesTable').on("click",'.edit-Item',function(){
           var dataId = $(this).attr("data-id");
          $.ajax({
              url:"/Categories/Edit/"+dataId,
              method:"Get",
              success:function(result)
              {
                  $('#modalcontent').html(result);
                  $('#ItemsModal').modal("show");
                 var form = $("form");
                        form.removeData('validator');
                        form.removeData('unobtrusiveValidation');
                        $.validator.unobtrusive.parse(form);
              }

          });
       });

       $('#CreateCategory_btn').click(function(){
          $.ajax({
              url:"/Categories/Create",
              method:"Get",
              success:function(result)
              {
                  $('#modalcontent').html(result);
                  $('#ItemsModal').modal("show");
                 var form = $("form");
                        form.removeData('validator');
                        form.removeData('unobtrusiveValidation');
                        $.validator.unobtrusive.parse(form);
              }

          });
       });

    function CreateSuccess()
    {
     $('#ItemsModal').modal("hide");
    swal("Successfuly Create Branch ");
    globaltable.ajax.reload();
   
    }

    function CreateFailure()
    {
     $('#ItemsModal').modal("hide");
    swal("Faild To Create Branch ");
    
   
    }


     function EditSuccess()
    {
     $('#ItemsModal').modal("hide");
    swal("Successfuly Edit Branch ");
    globaltable.ajax.reload();
   
    }

    function EditFailure()
    {
     $('#ItemsModal').modal("hide");
    swal("Faild To Edit Branch ");
    
    }



        
</script>
}