/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */
/* @font-face {
  font-family: KhandL;
  src: url(../fonts/Khand-Light.ttf);
} */
p , a , span , h1,h2,h3,h4,h5,h6 , li ,ul , div{
  text-align: start;
}
.btn.focus, .btn:focus{box-shadow: none;}
/* Header Style */
a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}
/* .menuIcon ,.menuIcon.show{display: block !important;transition: display 0s , transform .4s linear}
.menuIcon.show{padding: 5px 0px;} */
.navbar-toggler{padding: 9px;border: none;}
.navbar-toggler:focus{outline: none;}
.navbar-toggler .navbar-toggler-icon{
  background-image: none !important;
  width: 28px;
  background-color: #00bcd4;
  height: 3px;
  margin-bottom: 5px;
  display: block !important;
  transition:  display 0s , transform .4s linear;
}
.navbar-toggler .navbar-toggler-icon:last-child{margin-bottom: 0;}
.menuIcon.show.navbar-toggler-icon:nth-child(2){
  display: none !important;
}
.menuIcon.show.navbar-toggler-icon:nth-child(1){
  transform: translateY(3px) skewY(31deg);
  display: block !important;
  transition: display 0s , transform .4s linear;
}
.menuIcon.show.navbar-toggler-icon:nth-child(3){
  transform: translateY(-4px) skewY(-35deg);
  display: block !important;
  transition: display 0s ,transform .4s linear;
}
.contentPush{
  display: block !important;
  margin-inline-start: 0px;
  transition: display 0s , margin-inline-start .4s linear ;
}
.contentPush.show{
  margin-inline-start: 250px;
  transition: display 0s , margin-inline-start .4s linear ;
}

 /* Start SideNav  */
 .sidenav{
  width: 0;
  height: 0;
  position: fixed;
}
.sidenav.show{
  width: 250px;
  position: fixed;
  z-index: 1;
  height: 100%;
  top: 0;
  inset-inline-start: 0;
  background-color: #1e2225;
  overflow-x: hidden;
  transition: height 0s , width .3s linear;
  margin-top: 56px;
  padding: 10px;
}
.sidenav ul{
  transform: translateX(-100%);
  visibility: hidden;padding-top: 10px;
}
.sidenav.show ul{    
  transform: translateX(0%);
  transition: .3s ease-in-out;
  visibility: visible;
  transition-delay: 0.3s;
}
 .sidenav li.active{
  background-color: #00bcd4;
  clip-path: polygon(0% 0%, 90% 0%, 96% 50%, 90% 100%, 0% 100%);
  transition: all .8s;
  font-weight: 600;
 }
  .sidenav li:hover a{
    color: #00bcd4 !important;
    font-weight: 600;
  }
  .sidenav li.active a,.sidenav li.active i{color:#fff !important;}
  #adimnAccord{
    background-color: rgba(0, 188, 212, 0.31);
    border-top: 2px solid rgb(0, 188, 212);
    clip-path: polygon(0% 0%, 90% 0%, 90% 50%, 90% 100%, 0% 100%);
  }
  #adimnAccord a{color: #fff;}

  /* Start Theme */
  .theme span{
    background-color: #00bcd4;
    padding: 0px 10px;
    margin-inline-end: 5px;
    border-radius: 3px;
    border: 2px solid #ffffffa1;
  }
  .theme span:hover{
    filter: drop-shadow(2px 4px 6px black);    
    transform: rotateX(360deg);
    transition: .3s linear;
  }
  .theme span.blue{background-color: #00bcd4;}
  .theme span.red{background-color: red;}
  .theme span.yellow{background-color: yellow;}
  .theme span.blue.active{
    border: 2px solid #ffffff;
    box-shadow: -1px 1px 10px 0px #00bcd4;
    border-radius: 5px;
  }
  /* Start Loging/Logout */
  .loginIcon{
    border-radius: 10px;
    box-shadow: 1px 1px 4px -1px #00bcd4;
    border: 2px solid hsl(187, 100%, 42%);
    background-color: #00bcd45c;
  }
  .loginIcon button , .loginIcon a{
    color: #fff;
    font-weight: 500;
  }
  .loginIcon .dropdown-menu button{color: #343a40;}
  .loginIcon img{
    box-shadow: 1px 1px 4px 0px #00bcd4;
    border-radius: 50% !important;
  }
  /* Style language */
  .Notification i{
    color: #fff;
  }
  .Notification > div{position: relative;}
  .Notification .num-count{
    position: absolute;
    user-select: none;
    cursor: default;
    font-size: 0.6rem;
    background: #00bcd4;
    width: 1rem;
    height: 1rem;
    color: #fff;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    top: -0.33rem;
    right: 0.2rem;
    box-sizing: border-box;
  }
  .Langselect .selectedlan ,.bell,.msg{padding: 3px 8px;}
  .Langselect .selectedlan img , .bell i , .msg i{
    box-shadow: 1px 1px 4px 0px #00bcd4;
    border: 2px solid hsl(187, 100%, 42%);
    border-radius: 50%;
  }
.langHover{
  display: none;
  position: fixed;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 8px;
  box-shadow: 1px 1px 3px -2px #333;
  margin-top: .7px;margin-inline-start: -14px;
}
/* contentPush */
.langHover:after {
  content: '\25b2';
  position: absolute;
  top: -18px;
  inset-inline-start: 12px;
  color: #fff;
}
.langHover span{
  padding: 8px;
  border-inline-end: 1px solid #ddd;
}
.langHover span:last-child{border: none;}
.Langselect:hover .selectedlan {
  background-color: #ffffffc2;
}
.Langselect:hover .selectedlan img , .bell:hover i ,.msg:hover i{
  transform: rotateY(360deg);
  box-shadow: 1px 1px 6px 0px #00bcd4 !important;
  transition: all .4s ease-in;
}
.bell:hover i ,.msg:hover i{
  background-color: #ffffffc2;
  color: #343a40;
}
.Langselect:hover .langHover , .Langselect:focus .langHover{
  display: inline-block;
  cursor: pointer;
}
.langHover span:hover {
  background-color: #ddd;
}
.langHover:hover .langHover:after{color: #ddd;}

/* Style Arabic Issues */
html[dir="rtl"] .sidenav li.active {
  clip-path: polygon(100% 0%, 100% 59%, 100% 100%, 6% 100%, 0% 50%, 5% 0%) !important;
}
html[dir="rtl"] #adimnAccord{
  clip-path: polygon(100% 0%, 100% 0%, 100% 100%, 6% 100%, 6% 0%, 5% 0%) !important; 
}


/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}

/* Media Queiry */
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}
@media (max-width: 768px){
  .sidenav , .sidenav.show{
    position: unset;
    background-color: transparent;
    margin-top: 0px;padding: 0px;
  }
  .contentPush.show{
    margin-inline-start: 0px;
  }
}